@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<p>If you encounter any issues or have any suggestions feel free to email us.</p>
<p>Your feedback will help improve and further develop the application.</p>

<address>
    <strong>Support:</strong>   <a href="mailto:storagehubcentral@gmail.com">StorageHubCentral@gmail.com</a><br />
    <strong>Developper:</strong> <a href="mailto:mandache.robert@gmail.com">MandacheRobert@gmail.com</a>
</address>